.jack {	
	width: 500px;
}


.jeffries {	
	width: 650px;
	text-align: justify;
}


.banana {
	width: 50%;
	align-content: left;
  	align-items: center;
	align-text: center;
	margin: 0 auto;
}



.teaching {
	width: 600px;
	align-content: left;
  	align-items: center;
	align-text: center;
	margin: 0 auto;
}



@media screen and (max-width:480px){
	.jack {
		width: 100%;
		align-items: center;
}

	.jeffries {
		width: 95%;
		text-align: justify;	
		align-items: center;
}

	.banana {
		width: 95%;
		align-content: left;
  		align-items: center;
		align-text: center;
		margin: 0 auto;
}

.teaching {
	width: 90%;
	align-content: left;
  	align-items: center;
	align-text: center;
	margin: 0 auto;
}
}
